body { /* Fixar backgrounds inställningarna till bilden */
    background-image: url("Bilder/Donald_Duck_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
 }
 
 h1 { /* Fixar inställningarna för rubrikerna "h1" */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 50px;
    position: relative;
    left: 55%;
   
 }
 
 p { /* Fixar inställningarna för texten p */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 30px;
    position: fixed;
    left: 15%;
    bottom:75%
 }
 
 p1 { /* Fixar inställningarna för texten p */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
    position: fixed;
    left: 15%;
    bottom:70%;
 }
 
 p2 { /* Fixar inställningarna för texten p2 */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
    position: fixed;
    left: 15%;
    bottom:10%;
 }
 
 p3 { /* Fixar inställningarna för texten p3 */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
    position: fixed;
    left: 15%;
    bottom:5%; 
 }
 
 p4 { /* Fixar inställningarna för texten p4 */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
    position: fixed;
    left: 15%;
    top: 25%; 
 }
 
 p5 { /* Fixar inställningarna för texten p5 */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
    position: fixed;
    left: 15%;
    top: 29%; 
 }

 p6 { /* Fixar inställningarna för texten p6 */
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 30px;
    position: fixed;
    left: 15%;
    bottom:75%
 }
 
 .main-nav { /* Inställningarna för vart rubrik texten ska vara */
    float: left;
    list-style: none;
    margin-top: 80px;
 }
 
 .main-nav li { /* Gör så att Länkarna inte radar upp på en rad som en tabell men varje kategori i en spalt utan att de kommer efter varandra */
    display: inline-block;
 }
 
 .main-nav li a { /* Bestämmer inställningarna för orden, hur långt ifrån de är från varandra och vilken färg de ska ha t.ex. */
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    position: relative;
 }
 
 table { /* Bestämmer inställningarna för tabellen typ t.ex. storleken */
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }
 
 td, th { /* Bestämmer inställningarna för texten i tabellen*/
    border: 1px solid #0a0201;
    text-align: left;
    padding: 8px;
 }
 
 tr:nth-child(1) { /* Bestämmer en av tabbelens färger*/
    background-color: #b33636b4;
 }

 tr:nth-child(2) { /* Bestämmer en av tabbelens färger*/
    background-color: green;
 }

 tr:nth-child(3) { /* Bestämmer en av tabbelens färger*/
    background-color: blue;
 }

 tr:nth-child(4) { /* Bestämmer en av tabbelens färger*/
    background-color: yellow;
 }

 tr:nth-child(5) { /* Bestämmer en av tabbelens färger*/
    background-color: purple;
 }

 tr:nth-child(6) { /* Bestämmer en av tabbelens färger*/
    background-color: pink;
 }

 tr:nth-child(7) { /* Bestämmer en av tabbelens färger*/
    background-color: white;
 }

 
 .background2 { /* Fixar den svaga blåa färgen som finns på hemsidan samt vart den ska vara osv. */
 border: 0px;
 background:rgba(0, 0, 255, 0.411);
 height: 110vh;
 width: 79vw;
 margin-left: 12.5vw;
 margin-right: 12.5vw;
 z-index: -1;
 position: absolute;
 top: -10;
 opacity: 0.99;
 }
 
 .sidenav { /* Inställningarna för sid menyn vart den ska vara och hur den ska se ut */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.719);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
 }
 
 .sidenav a { /* Inställningarna för sid menyns ord */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
 }
 
 .sidenav a:hover { /* Visar vitt när man håller över orden på sid menyn */
    color: #f1f1f1;
 }
 
 .sidenav .closebtn { /* Bestämmer inställningarna för stäng knappen på sidmenyn*/
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
 
  .album-container{  /* bestämmer positionen och storlekn på bilden Dolan Duck */
    position: relative;
    margin: 10px auto;
    width: 255px;
    height: 150px;
    display: inline-block;
  }

  .picture{ /* Länkar till bilden på animationen och samt positionen på den och lite annat*/
    width: 235%;
    height: 300%;
    background-image: url("Bilder/Dolan Duck.png");
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    position: relative;
    left: 900px;
    top: 170px;
 
  }
 
  .front{ /* Fixar inställningarna för framsidan av Dolan bild animationen*/
    display: inline-block;
    height: 200px;
    width: 300px;
    margin-right: 50px;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    position: absolute;
  }
   .back{ /* Bestämmer inställningarna för texten och bakgrunden på sidan när animationen har vänt.*/
    position: absolute;
    width: 100%;
    height: 100%;
    color:#e6e6e6;
    text-align: center;
    background-color: #aaa;
    transform: rotateY(180deg);
  }
   .picture{ /* Bestämmer positionen av animationen ifall den ska flyttas eller inte och gör så att texten inte visas i bilden */
    display: inline-block;
    left: 0%;
  }
   .album-container:hover .picture{ /* ser till att animationen vänder sig 180 grader */
    transform: rotateY(180deg);
  }
 
  .Background3 { /* Fixar så att vi kan se bilden med Donalds familj, samt storleken och att den inte ska repetera sig */
      background: url("Bilder/Donald_Duck.jpg");
      z-index: 1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
  }
 
 form { /* Inställningar för formens position */
    left: 15%;
    position: fixed;
    bottom: 20%;
 }
 
 input[type=text], select { /* Inställningar för text rutorna i sliden "about us" */
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    bottom: 70%;
 
 }
 
 input[type=submit] { /* Inställningar för gröna knappen som heter "send" */
    width: 70%;
    background-color: rgb(91, 184, 87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 
 .footer { /* fixar inställningarna för footern längst ner på skärmen att den är svart och har vit text och lite annant */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    text-align: center;
    height: 15%;
 }
 
 blink { /* Gör så att texten blinkar */
    -webkit-animation: 2s linear infinite condemned_blink_effect;
    animation: 2s linear infinite condemned_blink_effect;
    position: fixed;
    top: 15%;
    left: 50%;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
 }
 
 @-webkit-keyframes condemned_blink_effect { /* gör så att texten blinkar */
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
 }
 
 @keyframes condemned_blink_effect { /* gör så att texten blinkar */
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
 }
 
 .video { /* bestämmer positionen på videon */
    float: right;
    margin-right: 10%;
    margin-top: 17.5%;
 }
 
 .video2 { /* bestämmer positionen på videon */
    float: left;
    margin-left: 10%;
    margin-top: 8%;
 }
 
 polygon { /* fixar designen för stjärnan */
    fill:rgba(0, 0, 255, 0.411);
    stroke:black;
    stroke-width:5;
    fill-rule:nonzero;
 
 }
 
 .svg { /* fixar positionen för svg (stjärnan) */
    position: absolute;
    left: 200%;
    top: 220%;
 }
 
 h2 { /* fixar textens animation time och slutposition (flytande texten alltså) */
    animation: move 3s;
    -webkit-animation: move 3s;
    margin-left: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 30px;
  }
   @keyframes move { 
    from { /* Börjar från */
      margin-left: 100%;
      width: 300%;
    }
     to {  /* slutar vid */
      margin-left: 50%;
      width: 100%;
    }
  }
             
  @-webkit-keyframes move {
    from { /* Börjar från */
      margin-left: 100%;
      width: 300%;
    }
     to { /* slutar vid */
      margin-left: 50%;
      width: 100%;
    }
  }