body { /* Sköter inställningarna för texten på hemsidan */
    font-size:16px;
    margin:0;
    padding:0;
    font-family: "Helvetica";
    background-color:#ffffff;
}

nav {
    position:relative;
}
 
.section {
	height:35em;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url("pics/Jurassic.jpg");
}

#main {
    padding-top: 50px;
}


.rubrik { /* Positionerar rubrik texten i start hemsidan*/
	position:absolute;
	bottom:15em;
	right:0;
	left:0;
	margin:auto;
}

img {
    max-width:100%;
    border-radius: .2em;
}
.svg-icon{
    width: 5%;
}
