body { /* Sköter inställningarna för texten på hemsidan */
    font-size:16px;
    margin:0;
    padding:0;
    font-family: "Helvetica";
    background-color:#ffffff;
}

 
#main { /* Koden för bilden på vår startsida och texten som står på startsida bilden */
	height:40em;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url("pics/Jurassic.jpg");
	text-align:center;
    color:#ffffff;
	position:relative;
}

#main h2 { /* Tar hand vart texten är på startsidan */
    margin-bottom:2em;
}


.rubrik { /* Positionerar rubrik texten i start hemsidan*/
	position:absolute;
	bottom:5em;
	right:0;
	left:0;
	margin:auto;
}

#pris .block { /* Sköter bild storlekarna på de andra film omslagen */
    box-sizing: border-box;
    width:24%;
    display:inline-flex;
    float:left;
    margin-right:0.5em;
}

#pris .block img { /* Gör så att bilderna inte stackar ovanpå varandra */
    width:100%;
    max-width:100%;
    border-radius: .3em;
}

#pris .block1 {
    box-sizing: border-box;
    width:25.2%;
    display:inline-flex;
    float:left;
    margin-right:0.5em;
}

#pris .block1 img { /* Gör så att bilderna inte stackar ovanpå varandra */
    width:100%;
    max-width:100%;
    border-radius: .3em;